.banner {
  background-color: #654321;
  display: flex;
  /* margin-top: 50px; */
  background-image: url('../img/banner-18.png');
  background-size: 100% auto;
  align-items: center;
}

.banner::after {
  content: '';
  padding-top: 53.74%;
}

.bannerText {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  /* background-color: white; */
  color: #444;
  align-content: center;
  font-size: 14px;
}

.bannerLogo {
  width: 15.6vw;
  height: 6.24vw;
  margin-top: 20px;
  margin-left: 20px;
  /* background-color: #fff; */
}

.bannerText p {
  text-align: center;
  margin-bottom: 2vw;
  margin: 0;
}

@media screen and (min-width: 720px) {
  .bannerText {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  .bannerText {
    font-size: 28px;
  }
}
