.banner {
  background-color: #654321;
  height: 200px;
  display: flex;
  margin-top: 50px;
}

.bannerText {
  background-color: white;
  width: 100px;
  height: 150px;
  margin: auto;
  align-content: center;
}

.bannerText p {
  text-align: center;
}
