.cardJobContainer {
  width: 90%;
  max-width: 480px;
  margin: 10px;
}

.jobCard {
  width: 100%;
  max-width: 480px;
  /* margin-top: 10px;
  margin-bottom: 10px; */
  border: 1px #aaa solid;
  border-radius: 5px;
  color: black;
  display: flex;
  height: 100%;
  box-shadow: 2px 2px 5px 6px rgba(150, 150, 150, 0.3);
}

.jobCard:hover {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 10px 10px rgba(170, 170, 170, 0.3);
  cursor: pointer;
}

.jobCard p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.companyJobTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.company,
.jobTitle {
  display: none;
}

.jobCardImgContainer {
  /* background-color: orange; */
  width: 30%;
  height: 100%;
}

.jobCardText {
  margin-left: 30px;
  width: 60%;
}

.location {
  font-size: 14px;
}

.salary {
  font-size: 15px;
}

.description,
.description_wide {
  display: none;
  color: #666;
  font-size: 12px;
  text-align: justify;
}
.addToFavo {
  background-color: #443a42;
  color: white;
  text-align: center;
  padding: 1px;
  transition: background-color 1s;
}

.removeFavo {
  background-color: #ffeacc;
  text-align: center;
  padding: 1px;
  transition: background-color 1s;
}

@media screen and (min-width: 720px) {
  .cardJobContainer {
    padding: 10px;
  }

  .jobCard {
    /* display: none; */
  }
  .description {
    display: block;
  }
}

@media screen and (min-width: 1360px) {
  .cardJobContainer {
    width: 360px;
  }

  .jobCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* display: none; */
  }

  .jobCard p {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .companyJobTitle {
    display: none;
  }

  .company,
  .jobTitle {
    display: block;
  }

  .jobCardImgContainer {
    width: 100%;
    height: 150px;
  }

  .jobCardText {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 10px;
  }

  .description {
    display: none;
  }

  .description_wide {
    display: block;
  }
}
