.jobsContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin: 0px auto 0px auto;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.contentsContainer {
  background-color: #ffffff;
}

.page {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

@media screen and (min-width: 760px) {
  .jobsContainer {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1360px) {
  .jobsContainer {
    justify-content: flex-start;
  }
}
