.jobsContainer {
  flex-grow: 1;
  justify-content: center;
  margin: 0px auto 0px auto;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.contentsContainer {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-grow: 1;
}

.page {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.contentsContainer_border {
  position: relative;
  z-index: 50;
  flex-grow: 1;
}

.contentsContainer_border_yourator {
  border-top: 3px solid #262852;
  /* border-radius: 0px 0px 10px 10px; */
}
.contentsContainer_border_104 {
  border-top: 3px solid #f55555;
  /* border-radius: 0px 0px 10px 10px; */
}
.contentsContainer_border_meetjobs {
  border-top: 3px solid #060438;
  /* border-radius: 0px 0px 10px 10px; */
}

.contentsContainer_border_search {
  border-top: 3px solid #443a42;
  /* border-radius: 0px 0px 10px 10px; */
}

@media screen and (min-width: 760px) {
  .jobsContainer {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1360px) {
  .jobsContainer {
    justify-content: flex-start;
  }
}

/* loading */
@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -1rem, 0);
  }
}
.bouncing-loader {
  display: flex;
  justify-content: center;
  margin: auto;
}
.bouncing-loader > div {
  width: 1rem;
  height: 1rem;
  margin: 3rem 0.2rem;
  background: #8385aa;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}
.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}
.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

.search_title_meetjobs {
  background-image: linear-gradient(-45deg, #52e5e7, #130cb7);
  margin-top: 10px;
}
.search_title_104 {
  background-image: linear-gradient(-45deg, #fccf31, #f55555);
  margin-top: 10px;
}
.search_title_yourator {
  background-image: linear-gradient(-45deg, #52e5e7, #130cb7);
  margin-top: 10px;
}

.search_title_meetjobs,
.search_title_104,
.search_title_yourator {
  border-radius: 50%;
  width: 100%;
  max-width: 1146px;
  height: 3px;
  margin-bottom: 10px;
  flex-shrink: 0;
}

.search_title {
  font-size: 20px;
  width: 100%;
}

.search_t {
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  font-size: 20px;
  color: #666;
}
