.jobsContainer {
  /* for footer */
  margin-bottom: 20px;
  /* end */

  display: flex;

  justify-content: space-between;

  margin-top: 20px;
}

.Page {
  display: flex;
  margin: 20px auto;
  width: 200px;
  justify-content: space-around;
}
