.detail_container .bouncing-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.detail_container .bouncing-loader > div {
  width: 1rem;
  height: 1rem;
  margin: 3rem 0.2rem;
  background: #8385aa;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}
.detail_container .bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}
.detail_container .bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

.detail_container {
  transition: none;
}

.detail_inside {
  transition: none;
  border: 1px solid #aaa;
  padding: 30px;
}

.detail_inside * {
  transition: none;
}
.detail_meetjobs_top,
.detail_yourator_top {
  margin-top: 20px;
}

.detail_yourator_img {
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
}

.detail_meetjobs_img {
  border-radius: 20px;
  overflow: hidden;
  width: 100px;
  /* height: 100px; */
}

.detail_yourator_img img {
  width: 100%;
}

.detail_meetjobs_img img {
  width: 100px;
  /* height: 100px; */
}

.detail_link_t {
  margin-top: 30px;
  font-size: 18px;
  height: 35px;
  line-height: 35px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #443a42;
  background-color: #443a42;
  color: white;
}

.detail_link_block_none {
  height: 0px;
  overflow: hidden;
}

a:visited {
  text-decoration: none;
}

.map_area {
  width: 100px;
  max-width: 760px;
  background-color: #00f;
}

.detail_s_block {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

.detail_s_block_title {
  width: 100px;
  flex-shrink: 0;
  color: #3a443c;
}
.detail_s_block_title p {
  line-height: 1.8em;
}

.detail_s_block p {
  text-align: justify;
}

a {
  color: white;
}

.detail_link {
  width: 100%;
  height: 50px;
  background-color: rgba(68, 58, 66, 0.6);
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
  line-height: 50px;
}

.detail_link_block a {
  display: block;
  margin-bottom: 20px;
}

.detail_link_block {
  margin-top: 20px;
  justify-content: space-around;
}

.detail_s_block_c {
  color: #444;
  line-height: 1.8em;
}

.detail_s_block_title {
  font-weight: 500;
}
.detail_google_maps {
  width: 100%;
  height: 30vw;
  border: 0px;
}

@media screen and (max-width: 760px) {
  .detail_inside {
    padding: 30px 10px;
  }
}

@media screen and (min-width: 990px) {
  .detail_yourator_text {
  }
  .detail_meetjobs_top,
  .detail_yourator_top {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
  }

  .detail_yourator_img_container {
    position: relative;
    flex-shrink: 0;
    width: 30%;
    padding: 10px;
  }

  .detail_meetjobs_img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .detail_yourator_img {
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .detail_yourator_img img {
    width: 100%;
  }
}
