.login_background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
  display: none;
}
.signup_prompt,
.login_prompt {
  width: 70%;
  height: 70%;
  max-width: 400px;
  max-height: 400px;
  background-color: #fff;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.signup_prompt {
  display: none;
}

.signup_prompt_container,
.login_prompt_container {
  margin: 20px auto auto;
  width: 80%;
  padding: 10px;
}

.signup_prompt_container form input,
.login_prompt_container form input {
  margin-top: 5px;
  /* margin-bottom: 25px; */
  width: 100%;
  height: 30px;
  font-size: 18px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-color: #eee;
  border: 1px solid #aaa;
}

.signup_prompt_container form input {
  margin-bottom: 25px;
}

.signup_prompt_container form input:focus,
.login_prompt_container form input:focus {
  border: transparent;
  border-color: transparent;
  background-color: #eee;
}

.signup_prompt_container form label,
.login_prompt_container form label {
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}

.signup_bottom_text,
.login_bottom_text {
  margin: auto auto 20px auto;
}

.signup_bottom_text p,
.login_bottom_text p {
  pointer-events: none;
}

.signup_submit,
.login_submit {
  outline: none !important;
  border-radius: 10px;
  border: 5px solid transparent;
  background-color: #ffc107;
  font-size: 20px;
  padding: 5px 35px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.signup_submit:hover,
.login_submit:hover {
  border: 5px solid transparent;
  background-color: #dba504;
  transition: 0.1s;
}
.signup_submit:focus,
.login_submit:focus {
  box-shadow: 0 0 10px #ffc107;
  background-color: #c19101;
  transition: 0.1s;
}

.password_alert,
.email_alert {
  padding-left: 20px;
  color: red;
  visibility: hidden;
}
