.nav_top {
  width: 100%;
  max-width: 1146px;
  margin: 20px auto 0px;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  position: relative;
}

.nav_top_option {
  position: relative;
  width: 25%;
  max-width: 200px;
  font-size: 18px;
  height: 5vw;
  max-height: 50px;
  min-height: 22px;
  border-radius: 15px 15px 0px 0px;
  color: white;
}

.nav_top_search_input {
  height: 22px;
  width: 100%;
  font-size: 21px;
  color: #443a42;
}

.nav_top_option_p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav_top_yourator {
  background-image: linear-gradient(-45deg, #abaeeb, #262852);
}

.nav_top_104 {
  background-image: linear-gradient(-45deg, #fccf31, #f55555);
}

.nav_top_meetjobs {
  background-image: linear-gradient(-45deg, #153d3d, #060438);
}

.nav_top_search {
  background-image: linear-gradient(-45deg, #eeeeee, #443a42);
}

.nav_top_not_selected {
  background-image: none;
  background-color: #eee;
  color: #888;
}

.nav_top_selected {
  box-shadow: 5px 5px 7px rgba(100, 100, 100, 0.7);
  z-index: 5;
}

.nav_top_search_input {
  background: transparent;
  border: none;
}
